<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :page_title %>  | YaYTacos! </title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
        <li><%= link_to 'YayTacos', root_path %></li>
      <% if @current_user %>
        <li>Hi <%= @current_user.first_name %></li>
        <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign Up', sign_up_path %></li>
        <li><%= link_to 'Sign In', sign_in_path %></li>
      <% end %>

    </ul>
  </nav>

  <% if notice %>
    <div class="alert alert-info"><%= notice %></div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
